@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.button {
  background-color: lightsalmon;
  border-radius: 5px;
  padding: 2px;
  width: max-content;
  border: solid 1px orange;
  margin-right: 5px;
}
